.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top:2px;
  padding-bottom: 0.5rem;
  color: #E33E19;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer!important;
}

.active.nav-item {
  border-top-width: 10px;
  padding-top:0px;
  color: black;
}

.nav-item:hover {
  border-top: 3px solid #E33E19!important;
  padding-top:0;
}

.btn-primary {
  color: white;
  background-color: #E33E19;
  border-color: #E33E19;
}

.btn-primary:hover {
  background-color: #C62700;
  border-color: #C62700;
}
.custom-center {
  left: 25%;
  transform: translate(-15%, -30%);
}

h6.text-white {
  color: #E33E19 !important;
}